@import "tailwindcss";

/* Animated Gradient Border */
@keyframes gradientShift {
  0% { border-color: #f7b5d6; }    /* Pink */
  23% { border-color: #f1ba77; }   /* Orange */
  66% { border-color: #f8e943; }   /* Yellow */
  100% { border-color:  #EFBF04 }   /* Yellow */
  }

.border-animate {
  animation: gradientShift 3s infinite linear;
}

:root {
  --scrollbar-track: #111;
  --scrollbar-border: #111;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: #ffff00;
  border-radius: 10px;
  border: 2px solid var(--scrollbar-border);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffff00 var(--scrollbar-track);
}
